Body{
    background-color: beige;
}

#budgetCard{
    width: 90.99%;
    position: relative;
    gap: 87.5px;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start;
    margin: 0px 0px 18px 12px;
    border-radius: 15px;
    box-sizing: border-box;
    background: #3A98B9;
    box-shadow: 8px 8px 20px 0px #767070, 7px 5px 10px 1px #000;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#totalExpenseCard{
    width: 90.99%;
    position: relative;
    gap: 87.5px;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start;
    margin: 0px 0px 18px 12px;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #992424 0%, #697CBB 100%);
    box-shadow: 8px 8px 20px 0px #767070, 7px 5px 10px 1px #000;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#currentBalanceCard{
    width: 90.99%;
    position: relative;
    gap: 87.5px;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start;
    margin: 0px 0px 18px 12px;
    border-radius: 15px;
    box-sizing: border-box;
    background: #F48484;
    box-shadow: 8px 8px 20px 0px #767070, 7px 5px 10px 1px #000;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
